.header {
    background-color: var(--background-light-gray);
    padding-top: 50px;
    padding-bottom: 70px;
}
.navication {
    padding: 25px 70px;
    background-color: var(--background-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 15px 20px rgba(67, 67, 68, 0.05);
    &__logo {
        width: 144px;
    }
    &__links ul {
        display: flex;
        .links__item a {
            margin-left: 55px;
            display: block;
            font-size: 20px;
            font-weight: 600;
            line-height: 1;
            color: var(--text-gray);
        }
        .active a {
            color: var(--text-dark);
        }
    }
    &__boxButton {
        display: flex;
        .button--primary {
            margin-left: 20px;
        }
    }
}
@include maxW(375px) {
    .header {
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .navication {
        padding: 15px 20px;
        margin-bottom: 35px;
        &__logo {
            width: 100px;
        }
        &__links {
            display: none;
        }
        &__boxButton {
            .button--primary {
                margin-left: 10px;
            }
            .button--secondary {
                padding: 10px;
            }
        }
    }
}
