.products {
    padding: 90px 0 30px;
    &__box {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        .item {
            margin-bottom: 50px;
            max-width: 605px;
            height: 455px;
            border-radius: 10px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__content {
        width: calc(100% - 715px);
        .title {
            line-height: 1.2;
            font-size: 40px;
            font-weight: 600;
        }
        .text {
            padding-bottom: 45px;
            border-bottom: 2px solid #f5f6fa;
            margin-bottom: 45px;
            p {
                color: var(--text-gray);
                margin-top: 25px;
                line-height: 1.2;
                font-size: 20px;
                font-weight: 400;
            }
        }
        .infor {
            padding-bottom: 20px;
            border-bottom: 2px solid #f5f6fa;
            .item {
                display: flex;
                align-items: flex-start;
                margin-bottom: 25px;
                &__title {
                    width: 140px;
                    line-height: 1.2;
                    font-size: 20px;
                    font-weight: 600;
                }
                &__text {
                    font-weight: 500;
                    line-height: 1.2;
                    color: var(--text-gray);
                    font-size: 20px;
                    width: calc(100% - 141px);
                }
            }
        }
        .share {
            padding-top: 40px;
            .item {
                display: flex;
                align-items: flex-start;
                margin-bottom: 25px;
                &__title {
                    width: 140px;
                    line-height: 1.2;
                    font-size: 20px;
                    font-weight: 600;
                }
                &__text {
                    width: calc(100% - 141px);
                    a ion-icon {
                        font-size: 30px;
                        margin-right: 40px;
                    }
                }
            }
        }
    }
}
@include maxW(735px) {
    .products {
        padding: 30px 15px;
        &__box {
            flex-direction: column-reverse;
        }
        &__content {
            margin-bottom: 30px;
            width: 100%;
            .title {
                font-size: 24px;
            }
            .text {
                margin-bottom: 20px;
                padding: 20px 0;
                p {
                    font-size: 12px;
                    font-weight: 400;
                    margin-top: 15px;
                }
            }
            .infor {
                .item {
                    margin-bottom: 10px;
                    &__title {
                        width: 120px;
                        font-size: 14px;
                    }
                    &__text {
                        font-size: 14px;
                        width: calc(100% - 121px);
                    }
                }
            }
            .share {
                .item {
                    margin-bottom: 10px;
                    &__title {
                        width: 120px;
                        font-size: 14px;
                    }
                    &__text {
                        font-size: 14px;
                        width: calc(100% - 121px);
                        a ion-icon {
                            font-size: 24px;
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
        &__item {
            .item {
                height: 300px;
                margin-bottom: 25px;
            }
        }
    }
}
