@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
$font: "Inter", sans-serif;
:root {
    --primary-color: #3c50e0;
    --primary-color-opacity: #3c50e01e;
    --background-light: #ffffff;
    --background-light-gray: #F5F6FA;
    --background-gray: #fff;
    --third-color: #fff;
    --text-light: #fff;
    --text-dark: #333333;
    --text-gray: #858a8f;
    --gray: #f5f6fa;
    --space-section: 90px:
    --space-item: 32px:
}
